@model dynamic
@{
    ViewBag.Title = "DetailProblem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/DetailProblem.css" />
<div class="content-left">
    <div style="text-align: center">
        <h1 style="font-weight: normal">@Model.detailProblem.title</h1>
        <p>
            Giới hạn thời gian: @Model.detailProblem.timeLimit giây<br />
            Giới hạn bộ nhớ: @Model.detailProblem.memoryLimit megabyte<br />
            Đăng bởi: @Model.detailProblem.createdBy
        </p>
    </div>
    <div>
        <div>
            @Model.detailProblem.description
        </div>
        <br />
        <p><b>Ví dụ:</b></p>
        @foreach (var example in Model.detailProblem.examples)
        {
            <div style="width: 100%; color: #333; margin-bottom: 10px;">
                <div style="
            background-color: #eee;
            padding: 8px;
            border-top: 1px solid #333;
            border-left: 1px solid #333;
            border-right: 1px solid #333;
          ">
                    <b>input</b>
                </div>
                <div style="
            background-color: #ffffff;
            padding: 8px;
            border-top: 1px solid #333;
            border-left: 1px solid #333;
            border-right: 1px solid #333;
          ">
                    <code> @example.input </code>
                    <!-- Chỗ này nếu input có nhiều dòng thì cứ cho thẻ br để xuống dòng -->
                </div>
                <div style="
            background-color: #eee;
            padding: 8px;
            border-top: 1px solid #333;
            border-left: 1px solid #333;
            border-right: 1px solid #333;
          ">
                    <b>output</b>
                </div>
                <div style="
            background-color: #ffffff;
            padding: 8px;
            border: 1px solid #333;
          ">
                    <code> @example.output </code>
                    <!-- Chỗ này nếu output có nhiều dòng thì cứ cho thẻ br để xuống dòng -->
                </div>
            </div>
        }
    </div>
</div>
<div class="content-right">
    <div align="center">
        <a href="@Url.Action("Index", "Submit", new {id = Model.detailProblem.id})" class="but"> Gửi bài giải </a>
        <br />
        <br />
        <hr />
        <br />
    </div>
    <div class="top-user">
        <h1 class="top-user-title">Top thành viên</h1>
        <div class="top-head">
            <div class="user-rank">
                <p>#</p>
            </div>
            <div class="user-name">
                <p>Tên truy cập</p>
            </div>
        </div>
        @for (var i = 0; i < Model.topUsers.AccountList.Count; i++)
        {
            <div class="top-child">
                <div class="user-rank">
                    <p>@(i+1)</p>
                </div>
                <div class="user-name">
                    <a href="@Url.Action("Index", "Profile", new {id = Model.topUsers.AccountList[i].id})">
                        @Model.topUsers.AccountList[i].username
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="top-user" style="margin-top: 50px">
        <h1 class="top-user-title">Bài mới</h1>
        @foreach (var item in Model.topUsers.NewProblemList)
        {
            <div class="top-problem">
                <a href="@Url.Action("DetailProblem", "Problems", new {id = item.id})">@item.title</a>
            </div>
        }
    </div>
</div>