@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/Problems.css" />
<div class="content-left">
    <h1>Danh sách bài</h1>
    <br />
    <hr />
    <br />
    <div class="table">
        <input type="text" placeholder="Tìm kiếm đề bài" oninput="problemSearch()" id="search" />
        <div class="head-table">
            <div class="ID">
                <p>ID</p>
            </div>
            <div class="problem">
                <p>Bài</p>
            </div>
            <div class="difficulty">
                <p>Độ khó</p>
            </div>
            <div class="numberOfAccepted">
                <p>Số người giải</p>
            </div>
        </div>
        @foreach (var item in Model.problems)
        {
            <div class="child-table">
                <div class="ID">
                    <a href="@Url.Action("DetailProblem", "Problems", new {id = item.id})">@item.id</a>
                </div>
                <div class="problem">
                    <a href="@Url.Action("DetailProblem", "Problems", new {id = item.id})">@item.title</a>
                </div>
                <div class="difficulty">@item.difficulty</div>
                <div class="numberOfAccepted">@item.numberOfAccepted</div>
            </div>
        }

    </div>
    <div style="display: flex; float: right" class="page">
        <div class="child-page" onclick="getDataTablePrev()">
            &#10094;
        </div>
        @for (var i = 1; i <= (Model.problems.Count + 11) / 12; i++)
        {
            <div class="child-page" onclick="getDataTable(i)">@i</div>
        }
        <div class="child-page" onclick="getDataTableNext()">
            &#10095;
        </div>
    </div>
</div>
<div class="content-right">
    <div class="top-user">
        <h1 class="top-user-title">Top thành viên</h1>
        <div class="top-head">
            <div class="user-rank">
                <p>#</p>
            </div>
            <div class="user-name">
                <p>Tên truy cập</p>
            </div>
        </div>
        @for (var i = 0; i < Model.topUsers.AccountList.Count; i++)
        {
            <div class="top-child">
                <div class="user-rank">
                    <p>@(i+1)</p>
                </div>
                <div class="user-name">
                    <a href="@Url.Action("Index", "Profile", new {id = Model.topUsers.AccountList[i].id})">
                        @Model.topUsers.AccountList[i].username
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="top-user" style="margin-top: 50px">
        <h1 class="top-user-title">Bài mới</h1>
        @foreach (var item in Model.topUsers.NewProblemList)
        {
            <div class="top-problem">
                <a href="@Url.Action("DetailProblem", "Problems", new {id = item.id})">@item.title</a>
            </div>
        }
    </div>
</div>

<script>
    var listProblem = document.getElementsByClassName("child-table");
    const getChildPage = document.getElementsByClassName("child-page");
    const numberPage = Math.ceil(listProblem.length / 12);
    var index = 1;
    for (var i = 0; i < Math.min(listProblem.length, 12); i++) {
        listProblem[i].classList.add("show");
    }
    getChildPage[1].classList.add("choose");

    function getDataTable(id) {
        index = id;
        for (var i = 0; i < listProblem.length; i++) {
            listProblem[i].classList.remove("show");
        }
        for (
            var i = (id - 1) * 12;
            i < Math.min(listProblem.length, id * 12);
            i++
        ) {
            listProblem[i].classList.add("show");
        }
        for (var i = 0; i < getChildPage.length; i++) {
            getChildPage[i].classList.remove("choose");
        }
        getChildPage[id].classList.add("choose");
    }

    function getDataTablePrev() {
        if (index > 1) {
            index--;
            for (var i = 0; i < listProblem.length; i++) {
                listProblem[i].classList.remove("show");
            }
            for (
                var i = (index - 1) * 12;
                i < Math.min(listProblem.length, index * 12);
                i++
            ) {
                listProblem[i].classList.add("show");
            }
            for (var i = 0; i < getChildPage.length; i++) {
                getChildPage[i].classList.remove("choose");
            }
            getChildPage[index].classList.add("choose");
        }
    }

    function getDataTableNext() {
        if (index < numberPage) {
            index++;
            for (var i = 0; i < listProblem.length; i++) {
                listProblem[i].classList.remove("show");
            }
            for (
                var i = (index - 1) * 12;
                i < Math.min(listProblem.length, index * 12);
                i++
            ) {
                listProblem[i].classList.add("show");
            }
            for (var i = 0; i < getChildPage.length; i++) {
                getChildPage[i].classList.remove("choose");
            }
            getChildPage[index].classList.add("choose");
        }
    }
    var keySearch = "";
    function problemSearch() {
        var inp = document.getElementById("search");
        keySearch = inp.value;
        for (var i = 0; i < listProblem.length; i++) {
            listProblem[i].classList.remove("show");
        }
        if (keySearch == "") {
            getDataTable(index);
        } else {
            index = 1;
            for (var i = 0; i < getChildPage.length; i++) {
                getChildPage[i].classList.remove("choose");
            }
            getChildPage[1].classList.add("choose");
            for (var i = 0; i < listProblem.length; i++) {
                var str = listProblem[i].getElementsByClassName("ID");
                var checkID =
                    str[0].getElementsByTagName("a")[0].childNodes[0].data;
                var id = 0;
                for (var j = 0; j < checkID.length; j++) {
                    if (id < keySearch.length && keySearch[id] == checkID[j]) {
                        id++;
                    }
                }
                if (id == keySearch.length) {
                    listProblem[i].classList.add("show");
                } else {
                    str = listProblem[i].getElementsByClassName("problem");
                    checkID =
                        str[0].getElementsByTagName("a")[0].childNodes[0].data;
                    id = 0;
                    for (var j = 0; j < checkID.length; j++) {
                        if (id < keySearch.length && keySearch[id] == checkID[j]) {
                            id++;
                        }
                    }
                    if (id == keySearch.length) {
                        listProblem[i].classList.add("show");
                    }
                }
            }
        }
    }
</script>

