@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/News.css" />
<div class="content-left">
    <h1>Tin tức</h1>
    <br />
    <hr />
    <br />
    @if (Model.news.Count > 0)
    {
        foreach (var item in Model.news)
        {
            <div class="news">
                <h1>@item.title</h1>
                <h3>@item.author đã đăng @item.createdAt.ToString("HH:mm - dd/MM/yyyy")</h3>
                <p>
                    @item.content
                </p>
                @if (item.background != null)
                {
                    <img src="~/Content/IMAGE/@item.background"
                         alt="@item.background"
                         width="100%"
                         height="auto"
                         class="hov" />
                }
                <br />
                <hr />
                <br />
            </div>
        }
    } else
    {
        <i>Chưa có tin tức nào.</i>
    }
</div>
        <div class="content-right">
            <div class="top-user">
                <h1 class="top-user-title">Top thành viên</h1>
                <div class="top-head">
                    <div class="user-rank">
                        <p>#</p>
                    </div>
                    <div class="user-name">
                        <p>Tên truy cập</p>
                    </div>
                </div>
                @for (var i = 0; i < Model.topUsers.AccountList.Count; i++)
                {
                    <div class="top-child">
                        <div class="user-rank">
                            <p>@(i+1)</p>
                        </div>
                        <div class="user-name">
                            <a href="@Url.Action("Index", "Profile", new {id = Model.topUsers.AccountList[i].id})">
                                @Model.topUsers.AccountList[i].username
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Bài mới</h1>
                @foreach (var item in Model.topUsers.NewProblemList)
                {
                    <div class="top-problem">
                        <a href="@Url.Action("DetailProblem", "Problems", new {id = item.id})">@item.title</a>
                    </div>
                }
            </div>
        </div>

