@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/Members.css" />
        <div class="content-left">
            <h1>Bảng xếp hạng</h1>
            <br />
            <hr />
            <br />
            <div class="table">
                <div class="head-table">
                    <div class="rank">Hạng</div>
                    <div class="name"><p>Tên truy cập</p></div>
                    <div class="problem"><p>Số bài</p></div>
                </div>
                @foreach (var member in Model.members)
                {
                    <div class="child-table">
                        <div class="rank">@member.rank</div>
                        <div class="name">
                            <a href="@Url.Action("Index", "Profile", new {id = member.id})">@member.name</a>
                        </div>
                        <div class="problem">@member.numberOfAccepted</div>
                    </div>
                }
            </div>
        </div>
        <div class="content-right">
            <div class="top-user">
                <h1 class="top-user-title">Top thành viên</h1>
                <div class="top-head">
                    <div class="user-rank">
                        <p>#</p>
                    </div>
                    <div class="user-name">
                        <p>Tên truy cập</p>
                    </div>
                </div>
                @for (var i = 0; i < Model.topUsers.AccountList.Count; i++)
                {
                    <div class="top-child">
                        <div class="user-rank">
                            <p>@(i+1)</p>
                        </div>
                        <div class="user-name">
                            <a href="@Url.Action("Index", "Profile", new {id = Model.topUsers.AccountList[i].id})">
                                @Model.topUsers.AccountList[i].username
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Bài mới</h1>
                @foreach (var item in Model.topUsers.NewProblemList)
                {
                    <div class="top-problem">
                        <a href="@Url.Action("DetailProblem", "Problems", new {id = item.id})">@item.title</a>
                    </div>
                }
            </div>
        </div>
  

