@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/Submissions.css" />

       
                <div class="content-left">
                    <h1>Danh sách bài nộp</h1>
                    <br />
                    <hr />
                    <br />
                    <table>
                        @foreach (var submission in Model.submissions)
                        {
                            <tr style="width: 100%">
                                <td class="score @submission.result">
                                    @submission.testCaseAchieved / @submission.testCaseTotal <br />
                                    <p>@submission.result | @submission.language</p>
                                </td>
                                <td class="info">
                                    <a href="@Url.Action("DetailProblem", "Problems", new {id = submission.problemId})" class="problem-name">@submission.problemName</a>
                                    <br />
                                    <a href="@Url.Action("Index", "Profile", new {id = submission.userId})" class="account-name">@submission.accountName</a> <span>@submission.submittedAt.ToString("hh:mm:ss tt, dd/MM/yyyy")</span>
                                </td>
                                <td style="width: 10%; text-align: center" class="time">
                                    <p>@submission.maxTime ms</p>
                                    @submission.maxMemory KB
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="content-right">
                    <div class="top-user">
                        <h1 class="top-user-title">Top thành viên</h1>
                        <div class="top-head">
                            <div class="user-rank">
                                <p>#</p>
                            </div>
                            <div class="user-name">
                                <p>Tên truy cập</p>
                            </div>
                        </div>
                        @for (var i = 0; i < Model.topUsers.AccountList.Count; i++)
                        {
                            <div class="top-child">
                                <div class="user-rank">
                                    <p>@(i+1)</p>
                                </div>
                                <div class="user-name">
                                    <a href="@Url.Action("Index", "Profile", new {id = Model.topUsers.AccountList[i].id})">
                                        @Model.topUsers.AccountList[i].username
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="top-user" style="margin-top: 50px">
                        <h1 class="top-user-title">Bài mới</h1>
                        @foreach (var item in Model.topUsers.NewProblemList)
                        {
                            <div class="top-problem">
                                <a href="@Url.Action("DetailProblem", "Problems", new {id = item.id})">@item.title</a>
                            </div>
                        }
                    </div>
                </div>
            
   